body {
    font-family: 'Open Sans', sans-serif;
    width: 1300px;
    margin: auto;
}

header {
    height: 20px;
    padding: 15px;
}

header h1 {
    text-transform: uppercase;
    float: left;
}

header nav {
    float: right;
}

header nav a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
}

header nav a:hover {
    font-size: 20px;
    color: coral;
}

#hero {
    color: white;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 10%), url("../img/wine-bg.jpg");
    background-position: center;
    height: 500px;
    text-align: center;
    padding-top: 250px;
}

#hero h2 {
    margin-bottom: 100px;
    font-size: 70px;
}

#hero p {
    font-family: 'Lora', serif;
}

#about {
    width: auto;
}

#about:after {
    clear: both;
}

#est {
    float: left;
    text-align: center;
    height: 550px;
    width: 55%;
    padding-left: 50px;
    padding-right: 50px;
}

#est h3 {
    color: lightslategray;
    font-size: 12px;
    padding-top: 100px;
}

#est h4 {
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

#blower {
    float: left;
    width: 35%;
}

#produce {
    color: white;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 10%), url("../img/wine13.jpg");
    background-position: center;
    height: 400px;
    text-align: center;
    clear: both;
}

#produce h5 {
    padding-top: 150px;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Lora', serif;
}

#produce p {
    font-size: 12px;
}

.bottles {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.bottles h6 {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: italic;
}

.bottles a {
    text-decoration: none;
    border: solid seagreen;
    background-color: seagreen;
    color: white;
    padding: 5px;
    margin-top: 5px;
    top: 15px;
    position: relative;
}

.button {
    background-color: seagreen;
    color: white;
}