body  {
    background-color: #f3f3f3;
}

div {
    height: 577px;
}
.yellow-bg  {
    background-color:  yellow;
}
.yellow-bg h2   {
    font-family: 'Roboto Slab', serif;
}
#responsive {
    margin-top: 35px;
    text-align: center;
    background-color: #c1c1c1;
    height: 270px;
}
h2, h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    line-height: 39px;
}
p   {
    font-size: 14px;
    line-height: 22px;
}


#pencil {
    padding-top: 35px;
}
#villain    {
    padding-top:35px;
}

.gray-bg    {
    background-color: #c1c1c1;
}
#creative   {
    margin-top: 35px;
    height: 270px;
}
#books  {
    margin-top: 35px;
}
