#space  {
    background: url(../img/nasa-background.jpg);
    background-repeat: no-repeat;
    width: 850px;
    height: 450px;
    
}

#space h1   {
    color: white;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    padding-top: 160px;
    padding-bottom: 140px;
}
#info   {
    height:324px;
    width: 850px;
    background-color: #f3f3f3;
    padding-top: 20px;
}
#social {
    padding: 20px;
    margin-left: 20px;
    width: 270px;
    height: 324px;
}