nav a {
    margin-right: 120px;
}

nav.transparent {
    background: none;
}

.navbar-default {
    border: none;
}


#hero {
    background: url(../img/erjschw3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 540px;
    width: 1275px;
}

#hero h1 {
    font-size: 75px;
    text-align: center;
    padding-top: 175px;
    margin-top: 0px;
}

#hero p {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    color: darkgoldenrod;
}

#hero a {
    text-align: center;
}
#process    {
    padding-top: 40px;
    padding-bottom: 40px;
}
#dye-vat    {
    text-align: center;
}
#arashi {
    padding-left: 130px;
    text-align: center;
}
#about  {
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
    text-align: center;
    height: 250px;
    color: darkgoldenrod;
}

#kaiman {
    background: url(../img/mrdsclg1.jpg);
    background-repeat: no-repeat;
    background size: cover;
    background-position: center;
    height: 555px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
#kaiman a   {
    margin-right: 45px;
    font-size: 25px;
    color: black;
    align-content: center;
    padding-top: 60px;
}
#kaiman a:hover   {
    font-size: 20px;
    color: white;
}
#shop   {
    text-align: center;
}
#shop p {
    font-family: 'Josefin Slab', serif;

}
#shop a {
    font-weight: bold;
}
#natural   {
    padding-left: 30px;
}

footer  {
    background-color: #f3f3f3;
    height: 150px;
    text-align: center;
    margin-top: 20px;
}
footer p    {
    padding-top: 75px;
}

/*@media (min-width: 768px) and (max-width: 991px) {
    #hero   {
        width: 768px;
    }
}

@media (max-width: 767px) {
    
}*/