* {
    font-family: sans-serif;
}

header {
    background-color: dodgerblue;
    color: white;
}

nav {
    text-decoration-color: white;
}

#left {
    width: 50%;
}

#right {
    width: 50%;
}

.gray {
    background-color: darkgray;
}